.blank-label {
  box-sizing: border-box;
  width: $label-width;
  height: $label-height;
  padding: $label-padding;
  margin-right: $spacing-margin-right;
  margin-top: $spacing-margin-top;
  float: left;
  text-align: center;
  overflow: hidden;
  padding-top: 5px;
}
